html, body {
    height: 100%; /* Высота документа */ 
    margin: 0; /* Убираем оступы на странице */
   }
   #coords {
    background: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
   }